* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#matrixContainer {
    padding-top: 30px;
    padding-left: 30px;
    height: calc(100% - 50px);
    overflow-y: auto;
}

.graph {
    margin-bottom: 20px;
    padding-bottom: 20px;
}