{% extends 'base.html' %} 
{% block content %}

<div class="d-flex justify-content-center align-items-center" style="margin-top: 15%;">
    <div class="card text-white bg-primary" style="width: 30%;">
      <div class="card-body p-4 text-center">
        <h1 class="card-title">Oops!</h1>
        <h2 class="card-subtitle mb-4">404 Not Found</h2>
        <div class="card-text">
          <p>Sorry, an error has occurred. Prim and Kruskal Algorithm Fails for Directed Graph..</p>
        </div>
        <div class="action mt-4">
          <a class="btn btn-light me-2" href="/">Back to first page</a>
          <a class="btn btn-light" href="https://www.geeksforgeeks.org/why-prims-and-kruskals-mst-algorithm-fails-for-directed-graph/">More details</a>
        </div>
      </div>
    </div>
  </div>
  
  
{% endblock %}