{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}

<div style="display: flex; padding-left: 80px;">
  <div class="card" style="width: 600px; height: 400px; margin-left: 30px; margin-top: 30px;">
    <div class="card-body">
      <form id="matrixForm">
        <div class="mb-3">
          <label for="question1" class="form-label">Is the graph oriented?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="question1" id="question1_oui" value="oui">
            <label class="form-check-label" for="question1_oui">oui</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="question1" id="question1_non" value="non">
            <label class="form-check-label" for="question1_non">non</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="question2" class="form-label">Is the graph weighted?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="question2" id="question2_oui" value="oui">
            <label class="form-check-label" for="question2_oui">oui</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="question2" id="question2_non" value="non">
            <label class="form-check-label" for="question2_non">non</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="dimension" class="form-label">Enter matrix dimension:</label>
          <input type="number" class="form-control" id="dimension" required><br>
          <label for="source">Enter source:</label>
          <input type="text" id="source" /><br>
        </div>
        <button type="submit" class="btn btn-primary"
          style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);">Generate</button>
      </form>
    </div>
  </div>

  <div class="card"
    style="width: 600px; height: 400px; margin-left: 30px; margin-top: 30px; margin-right: auto; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div id="matrixContainer" style="height: calc(100% - 50px); overflow-y: auto;"></div>
    <div id="submitButtonContainer" style="display: none; padding: 10px;">
      <button type="submit" id="submitButton" class="btn btn-primary"
        style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);">Submit</button>
    </div>
  </div>
</div>

<div class="card" style="width: 80%; margin-left: 120px; margin-top: 30px;">
  <div id="graphContainer"></div>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script> -->
<script>
  var dimension, GraphType,source;
  document.getElementById('matrixForm').addEventListener('submit', function (e) {
    e.preventDefault(); // Prevent form submission
    // Get the dimension value entered by the user
    dimension = parseInt(document.getElementById('dimension').value);
    source = document.getElementById("source").value;
    var isGraphOriented = $('input[name="question1"]:checked').val();
    var isGraphWeighted = $('input[name="question2"]:checked').val();
    if (isGraphOriented === 'oui' && isGraphWeighted === 'oui') {
      GraphType = 'dp';
    } else if (isGraphOriented === 'non' && isGraphWeighted === 'non') {
      GraphType = 'un';
    } else if (isGraphOriented === 'oui' && isGraphWeighted === 'non') {
      GraphType = 'dn';
    } else if (isGraphOriented === 'non' && isGraphWeighted === 'oui') {
      GraphType = 'up';
    } else {
      // Handle the case when none of the conditions match
      GraphType = 'unknown';
    }
    console.log(GraphType)

    // Generate the matrix based on the dimension
    generateMatrix(dimension);

    document.getElementById('submitButtonContainer').style.display = 'block';
  });
  console.log(dimension);

  function generateMatrix(dimension) {
    var matrixContainer = document.getElementById('matrixContainer');
    matrixContainer.innerHTML = ''; // Clear previous matrix (if any)

    var matrix = document.createElement('table');
    matrix.classList.add('matrix');

    // Generate matrix rows and columns
    for (var i = 0; i < dimension; i++) {
      var row = document.createElement('tr');
      for (var j = 0; j < dimension; j++) {
        var cell = document.createElement('td');
        var input = document.createElement('input');
        input.type = 'number';
        input.name = `cell_${i}_${j}`;
        input.classList.add("matrix");
        cell.appendChild(input);
        row.appendChild(cell);
      }
      matrix.appendChild(row);
    }

    matrixContainer.appendChild(matrix);
  }
  /////////////////////////////////////////////////////////////////////
  document.getElementById('submitButton').addEventListener('click', function (e) {
    e.preventDefault(); // Prevent form submission

    // Handle the matrix input values
    storeMatrixValues();
  });
  /////////////////////////////////////////////////////////////////////
  console.log(dimension);

  function storeMatrixValues() {

    var matrixValues = [];

    for (var i = 0; i < dimension; i++) {
      var rowValues = [];
      for (var j = 0; j < dimension; j++) {
        var input = document.getElementsByName(`cell_${i}_${j}`)[0];
        var value = parseFloat(input.value);
        rowValues.push(value);
      }

      matrixValues.push(rowValues);

    }

    console.log(GraphType)
    var matrixData = {
      GraphType: GraphType,
      dimension: dimension,
      matrix: matrixValues,
      source:source,
    };


    var jsonData = JSON.stringify(matrixData);
    // console.log(jsonData)

    fetch('/save_matrix_data', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: jsonData,
    })
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error('Error occurred while storing matrix values');
        }
      })
      .then(data => {
        // Retrieve the graph image from the JSON response
        var graphImage = data.graph_image;

        // Create an <img> element and set its source to the graph image
        var imgElement = document.createElement('img');
        imgElement.src = 'data:image/png;base64,' + graphImage;

        // Append the image element to a container in your HTML
        var graphContainer = document.getElementById('graphContainer');
        graphContainer.innerHTML = '';
        graphContainer.appendChild(imgElement);
      })
      .catch(error => {
        console.error('An error occurred while storing matrix values:', error);
      });
  }
////////////////////////////////////////////////////////////////////

</script>
{% endblock %}